{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Create new Comment</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index_per_ticket', {'ticketid' : ticket.id}) }}">back to comments per ticket</a>
    <a href="{{ path('ticket_show', {'id' : ticket.id}) }}">back to ticket</a>

{% endblock %}
