{% extends 'base.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block body %}
    <h1>Edit Ticket</h1>

    {{ include('ticket/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ticket_index') }}">to tickets</a>
    <a href="{{ path('ticket_show', {'id' : ticket.id}) }}">back to ticket</a>


    {{ include('ticket/_delete_form.html.twig') }}
{% endblock %}
