{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
    {% for ticket in tickets %}
        <p>ticket id is : {{ ticket.id }} ticketText: {{ ticket.ticketText }}
            <a href={{ path('ticket_show', {id : ticket.id }) }}>naar ticket</a></p>
    {% endfor %}
{% endblock %}
